node_modules
dist
.output
.nitro
.yarn/cache
.yarn/install-state.gz
.git
.github
.vscode
docs
coverage
*.log

/data
/logs

src/generated
**/*.gen.ts

.claude
.superpowers

.tmp
playwright-report
test-results
playwright.config.ts
vitest.config.ts

**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
src/app/testing

.gitattributes
.gitignore
.dockerignore
**/AGENTS.md
**/CLAUDE.md
README.md
LICENSE
compose.yaml
dev

.env*
!.env.example
.DS_Store
